ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r

ControlPersist 24h

Host 220
HostName 10.10.20.220
User spig

Host 221
HostName 10.10.20.221
User user

Host 223
HostName 10.10.20.223
User user

Host 224
HostName 10.10.20.224
User spig
